*pyc
.#*
omicidx.egg-info
*#
_build
pyvenv.cfg
lib
bin
*log
.ensime*
.idea*
*.gz
.DS_Store
include
/pip-selfcheck.json
share
NCBI_SRA_Mirroring*
SRA_Accessions.tab
.nextflow*
trace.tx*
node_modules
report.htm*
work*
*~
timeline.htm*
pip-wheel-metadata
config.ini
.mypy*
isb-cgc-01-0006-fc4b4026d179.json
