aiopg==0.15.0
alabaster==0.7.12
appnope==0.1.0
asyncpg==0.18.2
Babel==2.6.0
backcall==0.1.0
biopython==1.72
boto3==1.9.62
botocore==1.12.62
certifi==2018.10.15
chardet==3.0.4
Click==7.0
decorator==4.3.0
docutils==0.14
idna==2.7
imagesize==1.1.0
ipython==7.0.1
ipython-genutils==0.2.0
jedi==0.13.1
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.0
numpy==1.15.3
-e git+git@github.com:seandavi/omicidx.git@dab1c365dfebe42eab6f924f15c217124b61af31#egg=omicidx
packaging==18.0
pandas==0.23.4
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
pockets==0.7.2
prompt-toolkit==2.0.6
psycopg2==2.7.5
ptyprocess==0.6.0
Pygments==2.2.0
pyparsing==2.2.2
python-dateutil==2.7.5
pytz==2018.6
pyyaml>=4.2b1
requests==2.20.0
s3transfer==0.1.13
service-factory==0.1.5
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.2.12
traitlets==4.3.2
urllib3==1.24
wcwidth==0.1.7
